/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(27, 5, 45, 0.9),rgba(43, 7, 75, 0.9),rgba(27, 5, 45, 0.9)),url('./bgImage.png') no-repeat center center/cover;

    /* background-color: #eeeeef; */
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    /* border: 1px solid #ddd; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
span {
    background: rgba(29, 10, 47,0.9);
}

.left-panel {
    flex: 1;
    position: relative;
    background: #000;
}

.background-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.8; */
}


.right-panel {
    flex: 1;
    background: rgba(29, 10, 47,0.9);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.google-signin {
    width: 100%;
    padding: 10px;
    background-color: #4285F4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #fff;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.forgot {
    font-size: 14px;
    color: #4285F4;
    text-decoration: none;
}

.signin-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(32, 1, 82);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;

}

.signin-button:hover {
    background-color: rgb(64, 2, 131);
    transition: all 0.5s ease;
}

.signup {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
}

.signup a {
    color: #4285F4;
    text-decoration: none;
}
